@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=Mochiy+Pop+P+One&display=swap');

.regis-container{
    height: 500px;
    display: flex;
    align-items: center;
}
.regis-content{
    margin: auto;
    /* height: 300px; */
}
.regis-content input{
    border: 2px solid rgb(121, 118, 118);
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
    font-size: 17px;
}
.regis-content input[type="text"]{
    font-family: 'Bitter', serif;
    font-weight: 600;
}
.regis-content input[type="password"]{
    font-family: 'Bitter', serif;
    font-weight: 600;
}

.regis-content button{
    cursor: pointer;
    border: 2px solid #1877f2;
    border-radius: 7px;
    padding: 5px;
    width: 324px;
    font-size: 19px;
    background-color: #1877f2;
    color: whitesmoke;
    font-family: 'Bitter', serif;
}
.regis-content button:hover{
    background-color:#086ef3;
    color: white;
}

@media only screen and (max-width: 600px){
    .regis-container{
        display: block;
    }
    .regis-container input{
        text-align: center;
        padding: 6px;
    }
    .regis-content{
        margin-top: 50px;
        text-align: center;
        height: 300px;
    }
    .regis-content input{
        width: 250px;
    }
    .regis-container button{
        text-align: center;
        padding: 5px;
        width: 200px;
        font-weight: 1000;
    }
}

