@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.add-pet-container{
    height: auto;
    display: grid;
    place-items: center;
    /* background:
      linear-gradient(to bottom right, #3C4BBD 15%, transparent),
      radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px,
      linear-gradient(to bottom right, #3C4BBD, #57ADD8); */
}
.add-pet-content{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 350px;
    margin-top: 100px;
    background-color: white;
    height: 300px;
}
.add-pet-content ul{
    margin: auto;
}
.add-pet-container input{
    margin-top: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 10px;
}
.add-pet-container button{

    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 1000;
    background-color: #1877f2;
    cursor: pointer;
    width: 324px;
    padding: 3px;
}
.getPetNames{
  margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.wrapper{
  display: flex;
  margin: 5px;
  height: 250px;
  width: 250px;
  background-color: #1877f2;
}
.wrapper img{
  width: 250px;
}
.card{
  margin: auto;
}
.wrapper a{
  text-align: center;
  color:white;
  text-decoration: none;
}